@media only screen and (min-width: 76.25em){
    .md-main__inner {
        max-width: none;
    }
    .md-sidebar--primary {
        left: 0;
    }
    .md-sidebar--secondary {
        right: 0;
        margin-left: 0;
        -webkit-transform: none;
        transform: none;
    }
    .md-typeset .admonition {
        max-width: 1300px; /* <-- adjust to fit */
        margin-inline: left;
    }
    .md-grid {
        max-width: 100%; /* or 100%, if you want to stretch to full-width */
    }
    .md-content {
        margin-left: 0rem;
    }
}